<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/site.css" />
  </head>
  <body>
    <header class="site-header">
      <div class="site-logo">
        <p class="site-name">Dasteen <span> .Blog</span></p>
      </div>
      <nav class="main-nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Category</a></li>
          <li><a href="#">About Me</a></li>
          <li><a href="#">Search</a></li>
        </ul>
      </nav>
      <div class="cta">
        <a class="login" href="#">Login</a>
        <a class="register" href="#">Register</a>
      </div>
    </header>

    <main class="site-main">
      <section class="section-hero">
        <div class="wrapper">
          <div class="hero-left">
            <h1 class="heading-1">Hi, I’m Dasteen Front End Dev</h1>
            <p class="paragraph-1">
              On this blog I share tips and tricks, frameworks, projects,
              tutorials, etc Make sure you subscribe to get the latest updates
            </p>
            <div class="search">
              <input type="text" placeholder="Enter youe email here" />
              <a href="#" class="button">Subscribe</a>
            </div>
          </div>
          <div class="hero-right">
            <img src="svg/hero.svg" alt="" />
          </div>
        </div>
      </section>
      <section class="browse-category">
        <div class="wrapper">
          <div class="section-name-link">
            <div class="section-name">
              <div class="sub-heading-1">Browse The Category</div>
              <img class="line-icon" src="svg/line.svg" alt="" />
            </div>
            <div class="section-link">
              <div class="sub-heading-2">See All Category</div>
              <img class="arrow-icon" src="svg/arrow.svg" alt="" />
            </div>
          </div>
          <div class="categories-list">
            <div class="category-card">
              <div class="category-icon"><img src="svg/css.svg" alt="" /></div>
              <div class="category-name sub-heading-2">CSS</div>
            </div>
            <div class="category-card">
              <div class="category-icon"><img src="svg/css.svg" alt="" /></div>
              <div class="category-name sub-heading-2">CSS</div>
            </div>
            <div class="category-card">
              <div class="category-icon"><img src="svg/css.svg" alt="" /></div>
              <div class="category-name sub-heading-2">CSS</div>
            </div>
            <div class="category-card">
              <div class="category-icon"><img src="svg/css.svg" alt="" /></div>
              <div class="category-name sub-heading-2">CSS</div>
            </div>
            <div class="category-card">
              <div class="category-icon"><img src="svg/css.svg" alt="" /></div>
              <div class="category-name sub-heading-2">CSS</div>
            </div>
          </div>
        </div>
      </section>
      <section class="articles">
        <div class="wrapper">
          <div class="section-name-link">
            <div class="section-name">
              <div class="sub-heading-1">Featured Article</div>
              <img class="line-icon" src="svg/line.svg" alt="" />
            </div>
            <div class="section-link">
              <div class="sub-heading-2">See All Article</div>
              <img class="arrow-icon" src="svg/arrow.svg" alt="" />
            </div>
          </div>
          <div class="section-bundle">
            <article class="post-card">
              <div class="article-image">
                <img src="img/book.png" alt="" />
              </div>
              <div class="article-title sub-heading-2">Fundamental of javascript</div>
              <div class="article-meta-info">
                <div class="author-image">
                  <img src="img/author.jpg" alt="">
                </div>
                <div class="meta-text">
                  <span class="author paragraph-3">Dasteen</span>
                  <div class="date-reading-time paragraph-4">
                    <div class="date">Jan 10, 2022</div>
                    <div> ∙ </div>
                    <div class="reading-time">3 min read</div>
                  </div>
                </div>
              </div>
            </article>
            <article class="post-card">
              <div class="article-image">
                <img src="img/book.png" alt="" />
              </div>
              <div class="article-title sub-heading-2">Fundamental of javascript</div>
              <div class="article-meta-info">
                <div class="author-image">
                  <img src="img/author.jpg" alt="">
                </div>
                <div class="meta-text">
                  <span class="author paragraph-3">Dasteen</span>
                  <div class="date-reading-time paragraph-4">
                    <div class="date">Jan 10, 2022</div>
                    <div> ∙ </div>
                    <div class="reading-time">3 min read</div>
                  </div>
                </div>
              </div>
            </article>
            <article class="post-card">
              <div class="article-image">
                <img src="img/book.png" alt="" />
              </div>
              <div class="article-title sub-heading-2">Fundamental of javascript</div>
              <div class="article-meta-info">
                <div class="author-image">
                  <img src="img/author.jpg" alt="">
                </div>
                <div class="meta-text">
                  <span class="author paragraph-3">Dasteen</span>
                  <div class="date-reading-time paragraph-4">
                    <div class="date">Jan 10, 2022</div>
                    <div> ∙ </div>
                    <div class="reading-time">3 min read</div>
                  </div>
                </div>
              </div>
            </article>
            <article class="post-card">
              <div class="article-image">
                <img src="img/book.png" alt="" />
              </div>
              <div class="article-title sub-heading-2">Fundamental of javascript</div>
              <div class="article-meta-info">
                <div class="author-image">
                  <img src="img/author.jpg" alt="">
                </div>
                <div class="meta-text">
                  <span class="author paragraph-3">Dasteen</span>
                  <div class="date-reading-time paragraph-4">
                    <div class="date">Jan 10, 2022</div>
                    <div> ∙ </div>
                    <div class="reading-time">3 min read</div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>
    </main>

    <footer class="site-footer">
      <div class="wrapper">
        <div class="footer-header">
          <div class="site-about">
            <div class="site-logo">
              <p class="site-name">Dasteen <span> .blog</span></p>
            </div>
            <p class="paragraph-2">Digitaldastin by Dastin Darmawan</p>
            <ul class="social-links">
              <li>
                <a href="#"><img src="svg/monogram.svg" alt="" /></a>
              </li>
              <li>
                <a href="#"><img src="svg/twitter.svg" alt="" /></a>
              </li>
              <li>
                <a href="#"><img src="svg/instagram.svg" alt="" /></a>
              </li>
              <li>
                <a href="#"><img src="svg/linkedin.svg" alt="" /></a>
              </li>
            </ul>
          </div>
          <ul class="footer-nav">
            <li class="nav-section">
              <div class="nav-title">Category</div>
              <ul class="nav-links">
                <li><a href="#">CSS</a></li>
                <li><a href="#">Javascript</a></li>
                <li><a href="#">Tailwind</a></li>
                <li><a href="#">React JS</a></li>
                <li><a href="#">More Category</a></li>
              </ul>
            </li>
            <li class="nav-section">
              <div class="nav-title">About me</div>
              <ul class="nav-links">
                <li><a href="#">About Me</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Achievement</a></li>
              </ul>
            </li>
            <li class="nav-section">
              <div class="nav-title">Get in touch</div>
              <ul class="nav-links">
                <li><a href="#">+62-8XXX-XXX-XX</a></li>
                <li><a href="#">demo@gmail.com</a></li>
              </ul>
            </li>
            <li class="nav-section">
              <div class="nav-title">Follow us</div>
              <ul class="nav-links">
                <li><a href="#">Medium</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="footer-bottom">
          <span>&copy; 2024 Digitaldastin</span>
          <span>Made With ❤️ Jakarta, Indonesia</span>
        </div>
      </div>
    </footer>
  </body>
</html>
