.container {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.link {
    cursor: pointer;
}

.siteName {
    color: #001858;
    font-size: clamp(1.65rem, 2.5vw, 2rem);
    font-weight: 600;
    line-height: 1;
}

.siteName > * {
    color: var(--blue, #6246EA);
    font-size: 0.55em;
    font-weight: 700;
}
