.container {
    flex: 1;
    display: flex;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 96px;
}

.content {
    max-width: 720px;
}

.content p {
    margin-bottom: 12px;
    color: var(--blue, #6246ea);
    font-weight: 900;
    font-size: 24px;
}

.content span {
    display: block;
    max-width: 58ch;
    margin: 24px 0;
}

.content a {
    display: inline-flex;
    border-radius: 8px;
    background: var(--blue, #6246ea);
    padding: 16px 22px;
    color: var(--white, #fffffe);
    font-weight: 800;
}

@media screen and (max-width:640px) {
    .content h1 {
        font-size: 44px;
    }
}
