.container {
    background: #ddd;
    padding-top: 70px;
    flex: 0 0;
    margin-top: auto;
}

.topContainer {
    display: flex;
    margin-bottom: 50px;
}

.siteAbout {
    flex: 30%;
}

.container .topContainer .navigation {
    flex: 60%;
    justify-content: space-between;
}

.container .navigation {
    display: flex;
    list-style: none;
}

.container .navigation .navSection .navLinks {
    margin-top: 25px;
    list-style: none;
    display: flex;
    gap: 20px;
    flex-flow: column wrap;
}

.container .siteAbout {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.socialLinks {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.socialLinks .link {
    display: block;
}

.navSection .navTitle {
    color: var(--black, #2B2C34);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.navSection .navLinks .link {
    color: var(--black, #2B2C34);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottomContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 26px;
}

.bottomContainer::before {
    content: '';
    width: 100%;
    height: 1px;
    background: #C0C0C0;;
    display: block;
    margin-bottom: 26px;
}

@media screen and (max-width:1280px) {
    .topContainer {
        flex-direction: column;
        gap: 4rem;
    }

    .topContainer .siteAbout {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .navigation {
        flex-wrap: wrap;
    }
    .navigation .navSection {
        flex-basis: 50%;
        margin-bottom: 3em;
    }
    .navSection .navTitle {
        text-align: center;
    }
    .navLinks {
        align-items: center;
    }
}

@media screen and (max-width:640px) {
    .navigation .navSection {
        flex-basis: 100%;
    }
    .bottomContainer {
        display: none;
    }
}

